.countryName{
    font-size: 20px;
    font-weight: 400;
}
.coatOfArms{
    height: 60px;
    margin-left: 30px;
}
span{
    font-weight: 600;
}
h5{
    font-weight: 600;
}
.paragraph{
    font-weight: 500;
}

a{
    color: rgb(32, 32, 177);
}
.timeZone{
    font-size: 14px;
}
.backBtn{
   margin-top: 120px;
   width: 200px;
   border-radius: 50px;
}
img{
    border: solid rgba(204, 204, 204, 0.788);
}
.borders{
    font-size: 13px;
    font-weight: 500;
}